# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
proxy-monitor
/server

# Test
*.test
*.out
coverage.html

# IDE
.idea/
.vscode/
*.swp
*.swo
*.iml

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Environment
.env
.env.*

# Build
/bin/
/dist/
